* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}

.project-list li {
    width: 300px;
    height: 200px;
    border: 1px solid black;
    border-radius: 15px;
}
.project--img {
    width: 100%;
    height: 70px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.project--description {
    padding: 10px;
    font-size: 1.4rem;
}
.project--technology {
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.2);
}