/* font-family: 'Assistant', sans-serif; */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Courier New', Courier, monospace;
}
body {
    font-size: 1.6rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}
#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 50px;
    background-color:navy;
    color: white;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000; /* para que siempre este en primer plano */
    display: none; /* por defecto no se ve */
  }
.back-home {
    text-align: right;
    padding-right: 10px;
}
.title__section {
    text-align: center;
    margin: 25px 0;
}

.header {
    text-align: left;
} 

/* menú desplegable */
.menu {
    margin: 25px;
    position: relative;
  }
  
  .menu-title {
    display: block;
}
.dropdown {
    position: absolute;
    display: none;
}

.menu:hover .dropdown {
    display: block;
}
.dropdown li {
    text-align: left;
    margin-bottom: 5px;
}
/* fin menú desplegable */

/* menú desktop */
.header
.nav__desktop {
    display: none;
}
/* fin menú desktop */

/* Seccion de información personal */
.main--container {
    height: auto;
}

.section__info-personal {
    display: flex;
    flex-direction: column;
}
.info-personal__img--container {
    align-items: center;
}
.info-personal__img--container
.info-personal__img {
    max-width: 250px;
    border-radius: 50%;
    /* overflow: hidden; */
    /* padding: 10px; */
}

/* main */
.img--container {
    text-align: center;
}
.info--img {
    width: 300px;
    border-radius: 50%;
    overflow: hidden;
    padding: 10px;
}
.main--info {
    /* width: 50%; */
    font-size: 2.2rem;
    padding: 20px;
}
/* .main--info */
.info--name {
    /* font-size: 2.2rem; */
    /* margin-bottom: 1.5rem; */
    font-weight: bold;
    color: #17202A;
}
.info--title {
    font-size: 2.2rem;
    color: #000;
}
.info--description {
    font-size: 2rem;
    margin-bottom: 25px;
    /* text-align: justify; */
}
.main--info .info--tagline {
    font-size: 1.2rem;
    font-weight: bold;
    background-color: black;
    border-radius: 5px;
    margin: 25px 0 10px 0;
    padding: 5px;
    text-align: center;
    animation: cambiar-color 10s infinite;
}
@keyframes cambiar-color {
  0% {
    color: #e65100;
  }
  25% {
    color: blue;
}
50% {
    color: yellow;
}
75% {
    color: red;
}
100% {
    color: green;
  }
}
.info--tagline .tagline-title {
    font-weight:lighter;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Menú Social Media */
.social-menu {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 25px;
}
.social-menu p {
    font-size: 1.6rem;
    margin: 0 20px 10px 0;
    font-weight: bold;
}
.social-menu .social-menu__container {
    display: flex;
}
/* .social-menu */
.social-menu__container
.social-menu__item {
    flex: 1;
    text-align: center;
    /* align-items: center; */
    justify-content: center;
}
.social-menu__item:hover {
    background-color: #e65100;
    align-items: center;
    border-radius: 50%;
}

/* Section tecnologies */
.section__tecnologies {
    background-color: #17202A;
    /* height: 100vh; */
    padding-top: 20px;
    padding-bottom: 20px;
}
.section__tecnologies
.title__section {
    color: #AEB6BF;
}
.skills--container h2 {
    text-align: center;
    /* margin: 0 0 25px 0; */
    margin-bottom: 25px;
    color: #AEB6BF;
}
.skills--container h3 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.8rem;
    color: #AEB6BF;
}
.languages--container,
.frameworks--container {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
/* .main */
/* .skills--container */
.languages--container
.languages--list {
    width: 70%;
    /* height: 30vh; */
    margin-bottom: 25px;
}

/* .skills--container */
.languages--container
.languages--list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.languages--container
.languages--list li {
    margin-bottom: 20px;
}

/* SECTION PROJECTS */
.section__projects {
    padding-top: 20px;
    padding-bottom: 20px;
    /* background-color: rgba(102, 204, 0, 0.7); */

}
.projects--container {
    display: flex;
    justify-content: center;
    /* justify-items: center; */
}
.projects__grid-container {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr); */
    gap: 10px;
    justify-items: center;
    align-content: center;
    text-align: center;
}
.projects__grid-container > div {
    /* Add some basic styles for the grid items */
    width: 200px;
    height: 200px;
    border-radius: 15px 0;
    background-color: cadetblue;
    /* background-color: rgba(224, 95, 14, 0.5); */
    padding: 20px;
    margin: 10px 0;
    text-align: center;
}
.projects__grid-container div img {
    height: 120px;
    margin-top: 10px;
}

/* SECTION TRAINING */
.section__training {
    font-family: 'Assistant', sans-serif;
    padding: 20px 0;
    background-color: #17202A;
    color: #fff;
}
.section__training p {
    color: #fff;
}
.sub-title__training--section {
    margin: 15px 0;
    text-align: center;
}
.higher-education__container {
    display: flex;
    flex-direction: row;
    margin: 20px 10%;
}
.courses__grid-container h3 {
    color: rgb(58, 58, 58);
    margin-bottom: 5px;
}
.training--container h2 {
    margin-bottom: 20px;
    text-align: center;
}
.higher-education__item a img {
    max-width: 250px;
    margin-bottom: 20px;
    text-align: center;
}
.courses__grid-container {
    margin: 0 10px;
}
.courses__grid-container > div {
    background-color: #eee;
    margin: 10px 0;
    padding: 20px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.courses--list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}  
.courses-training
.courses__main-container
.courses__grid-container div ul li a {
    font-size: 1rem;
}

.section__contact {
    background-color: yellow;
    height: 90vh;
    padding: 20px;
}
/* Mobile first styles */
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

label, input, textarea {
    width: 90%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: auto;
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
    height: 10vh;
}
.footer a {
    color: #fff;
}

/* Media query for larger screens */
/* @media (min-width: 600px) */
@media (min-width: 768px) {
    .menu { /* menú desplegable */
        display: none;
    }
    .back-home {
        padding-right: 25px;
    }
    .header {
        height: 20vh;
    }
    .header
    .nav__desktop {
        display: flex;
        justify-content: space-around;
        margin: 35px;
    }
    
    .nav__desktop
    .menu-primary {
        display: flex;
        justify-content: space-between;
        width: 75%;
    }
    .menu-primary
    .menu-primary__item{
        list-style: none;
    }
    .menu-primary__item a i + span {
        display: none;
    }
    .main--container {
        display: flex;
        width: 75%;
        height: 90vh;
        margin: 20px auto;
        justify-content: space-between;
    }
    .info--name {
        font-weight: bold;
        color: #17202A;
    }
    .info--title {
        font-size: 4.0rem;
        color: #000;
    }
    .menu-primary__item a:hover i + span {
        display: inline;
    }
    .section__tecnologies {
        background-color: #17202A;
        height: 100vh;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .section__projects {
        height: 100vh;
    }
    .projects__grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
    }
    .section__contact {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 20px;
        align-items: center;
        height: 90vh;
    }
    .section__projects {
        height: 100vh;
    }
    .courses__grid-container {
        display: grid; /* Use the grid layout */
        grid-template-columns: repeat(3, 1fr); /* Divide the container into 3 equal columns */
        grid-template-rows: repeat(2, 1fr); /* Divide the container into 2 equal rows */
        grid-gap: 10px; /* Add a gap between each cell in the grid */
        justify-content: center; /* Center the grid horizontally within the container */
        align-content: center; /* Center the grid vertically within the container */
    }
    .courses__grid-container > div {
        margin: 0;
    }
    .section__contact
    .section__contact--form {
        width: 500px;
        flex-wrap: nowrap;
    }
    label {
      width: 25%;
    }
    input, textarea {
      width: 75%;
    }
  }